* {
  font-family: Georgia, Times, serif;
  font-size: 16px;
}

ul {
  list-style: none;
}

li {
  display: inline;
}

#notice {
  background: #bfffbf;
  border: 1px solid #24ff24;
  text-align: center;
  margin: 10px auto;
  padding: 10px;
}
