.page-header
  %h1
    Follow All
  %h6
    Select a Twitter list and follow all of its members
.row
  .span14
    = form_tag "/auth/twitter", :method => 'get' do
      %button.btn.large.primary
        Sign in with Twitter
      %small
        Start by pressing this button to authenticate with Twitter.
